{% extends 'main.html' %}

{% block content %}

<h1>Hello Notes</h1>

<table>
    <thead>
        <th>Notes</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for note in notes %}
            <tr>    
                <td><a href="{% url 'note' note.id %}">{{note.title}}</a></td>
                <td><a href="{% url 'update-note' note.id %}">Edit</a></td>
                <td><a href="{% url 'delete-note' note.id %}">Delete</a></td
            </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock content %}